
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <h1 class="container mt-5 mb-5" style ="text-align:center;">Conoce a los desarolladores!</h1>
    </div>
  </div>
</div>

<div class="continer mt-5 mb-5" style="display:flex; flex-wrap:wrap ;justify-content:space-between">
    <div class="card" style="width: 18rem;">
        <img src="https://allgamersin.com/wp-content/uploads/2018/08/HunterxHunter-Gon.jpg" >
        <div class="card-body">
            <h5 class="card-title">Darlin Daniel Santana Valdez</h5>
            <p class="card-text">FullStack - Leader</p>
            <p>20175032@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/1e/86/12/1e86128ae3f91080a559ed2fe3f678b0.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Tirso Santiago Carbuccia</h5>
            <p class="card-text">Front-End</p>
            <p>20187063@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/ec/00/fe/ec00feb1814759be4c81dd31448e4afa.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Justin Minaya</h5>
            <p class="card-text">Back-End</p>
            <p>20198013@itla.edu.do</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/22/a1/78/22a178b3e992a42b32c708abe1bb0284.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Gabriel Guerrero</h5>
            <p class="card-text">Administrador de Base de Datos</p>
            <p>20197492@itla.edu.do</p>
        </div>
    </div>

    
</div>

